@model IEnumerable<MVC_EF.Models.Student>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>



<div class="container">
    <div class="row row-cols-4">
        @foreach (var item in Model)
        {
            <div class="col">
                <a href="/Students/Details/@item.StudentID">
                    <div class="card">
                        <div class="card-header">
                            @Html.DisplayFor(modelItem => item.FirstName) @Html.DisplayFor(modelItem => item.LastName)
                        </div>
                        <div class="card-body">
                            <h5 class="card-title">Favorite Color: @Html.DisplayFor(modelItem => item.FavoriteColor)</h5>
                            @Html.ActionLink("Details", "Details", new { id = item.StudentID })
                        </div>
                    </div>
                </a>
            </div>
        }
    </div>
</div>